services:
  postgres:
    image: postgres
    container_name: ms-email-db
    environment:
      - POSTGRES_DB=ms-email
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: