services:
  postgres:
    image: postgres
    container_name: ms-user-db
    environment:
      - POSTGRES_DB=ms-user
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: